*{
	margin:0;
	padding: 0;
}
body{
		background-color: #65ba99;
}
header{
	background-image: url("C:/Users/Marcello/Documents/GitHub/Portifolio/portfolio/bg_header.png");
	background-repeat: no-repeat;
	background-position: -120px;
	width: 100%;
	height: 77%;
	float: left; 
}
#div_header_primeiro{
	margin-left: 265px;
	margin-top: 180px;
	width: 182px;
	height: 120px;
	font-weight: bold;
	font-size: 35px ;
	font-family: "roboto" ;
	color: white;
}
#div_header_segundo{
	margin-left: 265px;
	margin-top:;
	font-size: 22px;
	font-family: "roboto" ;
	color: white;
	width: 510px;
	height: 26px;
}
nav{
	background-color: #252222;
	color:white;
	font-family: "roboto";
	font-weight: bold;
	float:left;
	width: 100%;
	height: 40px;
	padding-top: 20px;
}


#div_nav{
	font-size: 20px;
	font-family: "roboto";
	width: 55px;
	height: 50px;
	margin-left: 230px;
	float:left;
}
ul{
	margin-left: 666px;
	font-size: 10px;
	padding-top: 5px;
}
li{
	margin-right: 20px;
	height: 25px;
}
ul li{
	float:left;
}
li:hover{
	border-bottom-style: groove;
	color:#65ba99;
	border-color: rgba(101,186,153,.3);
	cursor: pointer;
}
aside{
	width:100%;
	float:left;
}
#primeiroTXT_aside{
	width: 130px;
	height: 25px;
	font-family: "roboto";
	font-size: 20px;
	color: white;
	margin-left: 600px;
	margin-top: 40px;
}
#segundoTXT_aside{
	width: 500px;
	height: 17px;
	font-family: "roboto";
	font-size: 13px;
	color: white;
	margin-left: 518px;
}
#img_1{
	width: 470px;
	margin-top: 30px;
	margin-left: 200px;
	float:left;
}
#img_2{
	width: 470px;
	margin-top: 30px;
	float:left;

}
#img_3{
	width: 470px;
	margin-left: 200px;
	float:left;

}
#img_4{
	width: 470px;
	float:left;

}
#img_5{
	width: 470px;
	margin-left: 200px;
	float:left;

}
#img_6{
	width: 470px;
	float:left;

}
#img_7{
	width: 470px;
	margin-left: 200px;
	float:left;

}
#img_8{
	width: 470px;
	float:left;

}
#img_9{
	width: 470px;
	margin-left: 200px;
	float:left;

}
#img_10{
	width: 470px;
	float:left;

}
#img :hover{
	background-color: #65ba99;
}
#quebra_pagina{
	background-image: url("C:/Users/Marcello/Documents/GitHub/Portifolio/portfolio/bg_testimonial.png");
	width: 100%;
	height: 300px;
	float: left;
	background-position-y: 760px;
	margin-top: 60px;
}